In [2]:
#Import necessary libraries
import os
import pandas as pd
import json

In [14]:
#Set the working directory 
#os.chdir("/Users/Abdul/Desktop/MMA/Enterprise Data Science/Revenue-Radar/Data")

In [15]:
#Import dataset(s)
train_revenue = pd.read_csv("train.csv")
test_revenue = pd.read_csv("test.csv")

/var/folders/rj/g3r71fsx2vnbbbjb9v368gr00000gp/T/ipykernel_8822/18681393.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  train_revenue = pd.read_csv("train.csv")
/var/folders/rj/g3r71fsx2vnbbbjb9v368gr00000gp/T/ipykernel_8822/18681393.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  test_revenue = pd.read_csv("test.csv")

In [16]:
dict_columns = ['geoNetwork', 'device', 'totals', 'trafficSource']

# For each such column, convert the string representation of dictionary to actual dictionary
# then normalize and concatenate with the original DataFrame
for column in dict_columns:
    # Convert the stringified dictionary to actual dictionary
    train_revenue[column] = train_revenue[column].apply(json.loads)
    
    # Flatten the dictionary and convert to a DataFrame
    column_df = pd.json_normalize(train_revenue[column])
    
    # Concatenate the new DataFrame to the original DataFrame
    train_revenue = pd.concat([train_revenue, column_df], axis=1)

    # Drop the original column that contained the stringified dictionary
    train_revenue.drop(column, axis=1, inplace=True)

for column in dict_columns:
    # Convert the stringified dictionary to actual dictionary
    test_revenue[column] = test_revenue[column].apply(json.loads)
    
    # Flatten the dictionary and convert to a DataFrame
    column_df = pd.json_normalize(test_revenue[column])
    
    # Concatenate the new DataFrame to the original DataFrame
    test_revenue = pd.concat([test_revenue, column_df], axis=1)

    # Drop the original column that contained the stringified dictionary
    test_revenue.drop(column, axis=1, inplace=True)

In [17]:
#Viewing first 5 rows of the training dataset
train_revenue.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,continent,subContinent,...,adwordsClickInfo.criteriaParameters,isTrueDirect,referralPath,adwordsClickInfo.page,adwordsClickInfo.slot,adwordsClickInfo.gclId,adwordsClickInfo.adNetworkType,adwordsClickInfo.isVideoAd,adContent,campaignCode
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Asia,Western Asia,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Oceania,Australasia,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Europe,Southern Europe,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,Asia,Southeast Asia,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Europe,Northern Europe,...,not available in demo dataset,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#Viewing first 5 rows of the testing dataset
test_revenue.head()

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,continent,subContinent,...,keyword,isTrueDirect,adwordsClickInfo.criteriaParameters,adwordsClickInfo.page,adwordsClickInfo.slot,adwordsClickInfo.gclId,adwordsClickInfo.adNetworkType,adwordsClickInfo.isVideoAd,referralPath,adContent
0,Organic Search,20171016,6167871330617112363,6167871330617112363_1508151024,Not Socially Engaged,1508151024,2,1508151024,Asia,Southeast Asia,...,(not provided),True,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Organic Search,20171016,0643697640977915618,0643697640977915618_1508175522,Not Socially Engaged,1508175522,1,1508175522,Europe,Southern Europe,...,(not provided),NaN,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Organic Search,20171016,6059383810968229466,6059383810968229466_1508143220,Not Socially Engaged,1508143220,1,1508143220,Europe,Western Europe,...,(not provided),NaN,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Organic Search,20171016,2376720078563423631,2376720078563423631_1508193530,Not Socially Engaged,1508193530,1,1508193530,Americas,Northern America,...,(not provided),NaN,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Organic Search,20171016,2314544520795440038,2314544520795440038_1508217442,Not Socially Engaged,1508217442,1,1508217442,Americas,Northern America,...,(not provided),NaN,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#importing the training set
df_train=pd.read_csv("/Users/Abdul/Desktop/MMA/Enterprise Data Science/Revenue-Radar/Data/train_dejsonified.csv")

# #Importing the test set
df_test=pd.read_csv("/Users/Abdul/Desktop/MMA/Enterprise Data Science/Revenue-Radar/Data/test_dejsonified.csv")

/var/folders/rj/g3r71fsx2vnbbbjb9v368gr00000gp/T/ipykernel_8822/1251306950.py:2: DtypeWarning: Columns (2,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train=pd.read_csv("/Users/Abdul/Desktop/MMA/Enterprise Data Science/Revenue-Radar/Data/train_dejsonified.csv")
/var/folders/rj/g3r71fsx2vnbbbjb9v368gr00000gp/T/ipykernel_8822/1251306950.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test=pd.read_csv("/Users/Abdul/Desktop/MMA/Enterprise Data Science/Revenue-Radar/Data/test_dejsonified.csv")

In [29]:
print('The dimensions of the training dataset are:', df_train.shape)
print('The dimensions of the testing dataset are:', df_test.shape)

The dimensions of the training dataset are: (903653, 55)
The dimensions of the testing dataset are: (804684, 53)

In [21]:
# Printing all the column names for exploration and understanding the dataset
df_train.columns.to_list()

['channelGrouping',
 'date',
 'fullVisitorId',
 'sessionId',
 'socialEngagementType',
 'visitId',
 'visitNumber',
 'visitStartTime',
 'continent',
 'subContinent',
 'country',
 'region',
 'metro',
 'city',
 'cityId',
 'networkDomain',
 'latitude',
 'longitude',
 'networkLocation',
 'browser',
 'browserVersion',
 'browserSize',
 'operatingSystem',
 'operatingSystemVersion',
 'isMobile',
 'mobileDeviceBranding',
 'mobileDeviceModel',
 'mobileInputSelector',
 'mobileDeviceInfo',
 'mobileDeviceMarketingName',
 'flashVersion',
 'language',
 'screenColors',
 'screenResolution',
 'deviceCategory',
 'visits',
 'hits',
 'pageviews',
 'bounces',
 'newVisits',
 'transactionRevenue',
 'campaign',
 'source',
 'medium',
 'keyword',
 'adwordsClickInfo.criteriaParameters',
 'isTrueDirect',
 'referralPath',
 'adwordsClickInfo.page',
 'adwordsClickInfo.slot',
 'adwordsClickInfo.gclId',
 'adwordsClickInfo.adNetworkType',
 'adwordsClickInfo.isVideoAd',
 'adContent',
 'campaignCode']

In [30]:
# printing all the column names for exploration and understanding the dataset. Also, there are less columns in the test dataset. Upon inspection, it is found that the test dataset does not have the 'revenue' column which is the target variable that we are trying to predict.
df_test.columns.to_list()

['channelGrouping',
 'date',
 'fullVisitorId',
 'sessionId',
 'socialEngagementType',
 'visitId',
 'visitNumber',
 'visitStartTime',
 'continent',
 'subContinent',
 'country',
 'region',
 'metro',
 'city',
 'cityId',
 'networkDomain',
 'latitude',
 'longitude',
 'networkLocation',
 'browser',
 'browserVersion',
 'browserSize',
 'operatingSystem',
 'operatingSystemVersion',
 'isMobile',
 'mobileDeviceBranding',
 'mobileDeviceModel',
 'mobileInputSelector',
 'mobileDeviceInfo',
 'mobileDeviceMarketingName',
 'flashVersion',
 'language',
 'screenColors',
 'screenResolution',
 'deviceCategory',
 'visits',
 'hits',
 'pageviews',
 'newVisits',
 'bounces',
 'campaign',
 'source',
 'medium',
 'keyword',
 'isTrueDirect',
 'adwordsClickInfo.criteriaParameters',
 'adwordsClickInfo.page',
 'adwordsClickInfo.slot',
 'adwordsClickInfo.gclId',
 'adwordsClickInfo.adNetworkType',
 'adwordsClickInfo.isVideoAd',
 'referralPath',
 'adContent']

In [35]:
# Inspecting proportion of missing values in the transactioRevenue column (This info is useful for the classification model)
print('The proportion of missing values in the transactionRevenue column is:',df_train['transactionRevenue'].isnull().sum()/len(df_train))
# Inspecting the number of non-null values in the transactioRevenue column ( The subset is useful for the regression model)
print('The number of non-null values in the transactionRevenue column is:',df_train['transactionRevenue'].notnull().sum())

The proportion of missing values in the transactionRevenue column is: 0.9872572768529513
The number of non-null values in the transactionRevenue column is: 11515

In [36]:
def subset_data(df):
    reg_df=df[df['transactionRevenue'].notnull()]

    return reg_df

In [39]:
reg_df=subset_data(df_train)

In [40]:
reg_df.shape

(11515, 55)

In [41]:
# Replace my path with yours
reg_df.to_csv('/Users/Abdul/Desktop/MMA/Enterprise Data Science/Revenue-Radar/Data/reg_df.csv', index=False)

In [65]:
df=pd.read_csv('/Users/Abdul/Desktop/MMA/Enterprise Data Science/Revenue-Radar/Data/train_dejsonified.csv', parse_dates=['date'])

/var/folders/rj/g3r71fsx2vnbbbjb9v368gr00000gp/T/ipykernel_7839/3898126540.py:1: DtypeWarning: Columns (2,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/Users/Abdul/Desktop/MMA/Enterprise Data Science/Revenue-Radar/Data/train_dejsonified.csv', parse_dates=['date'])

In [66]:
# Exploring the dataset; checking the data types of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 55 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   channelGrouping                      903653 non-null  object
 1   date                                 903653 non-null  datetime64[ns]
 2   fullVisitorId                        903653 non-null  object
 3   sessionId                            903653 non-null  object
 4   socialEngagementType                 903653 non-null  object
 5   visitId                              903653 non-null  int64
 6   visitNumber                          903653 non-null  int64
 7   visitStartTime                       903653 non-null  int64
 8   continent                            903653 non-null  object
 9   subContinent                         903653 non-null  object
 10  country                              903653 non-null  object
 11  region                               903653 non-null  object
 12  metro                                903653 non-null  object
 13  city                                 903653 non-null  object
 14  cityId                               903653 non-null  object
 15  networkDomain                        903653 non-null  object
 16  latitude                             903653 non-null  object
 17  longitude                            903653 non-null  object
 18  networkLocation                      903653 non-null  object
 19  browser                              903653 non-null  object
 20  browserVersion                       903653 non-null  object
 21  browserSize                          903653 non-null  object
 22  operatingSystem                      903653 non-null  object
 23  operatingSystemVersion               903653 non-null  object
 24  isMobile                             903653 non-null  bool
 25  mobileDeviceBranding                 903653 non-null  object
 26  mobileDeviceModel                    903653 non-null  object
 27  mobileInputSelector                  903653 non-null  object
 28  mobileDeviceInfo                     903653 non-null  object
 29  mobileDeviceMarketingName            903653 non-null  object
 30  flashVersion                         903653 non-null  object
 31  language                             903653 non-null  object
 32  screenColors                         903653 non-null  object
 33  screenResolution                     903653 non-null  object
 34  deviceCategory                       903653 non-null  object
 35  visits                               903653 non-null  int64
 36  hits                                 903653 non-null  int64
 37  pageviews                            903553 non-null  float64
 38  bounces                              450630 non-null  float64
 39  newVisits                            703060 non-null  float64
 40  transactionRevenue                   11515 non-null   float64
 41  campaign                             903653 non-null  object
 42  source                               903653 non-null  object
 43  medium                               903653 non-null  object
 44  keyword                              400724 non-null  object
 45  adwordsClickInfo.criteriaParameters  903653 non-null  object
 46  isTrueDirect                         274005 non-null  object
 47  referralPath                         330941 non-null  object
 48  adwordsClickInfo.page                21460 non-null   float64
 49  adwordsClickInfo.slot                21460 non-null   object
 50  adwordsClickInfo.gclId               21561 non-null   object
 51  adwordsClickInfo.adNetworkType       21460 non-null   object
 52  adwordsClickInfo.isVideoAd           21460 non-null   object
 53  adContent                            10946 non-null   object
 54  campaignCode                         1 non-null       object
dtypes: bool(1), datetime64[ns](1), float64(5), int64(5), object(43)
memory usage: 373.2+ MB

In [67]:
# Checking null values in the dataset
# Note that null values in the transactionRevenue column means that the customer did not make a purchase
df.isnull().sum()

channelGrouping                             0
date                                        0
fullVisitorId                               0
sessionId                                   0
socialEngagementType                        0
visitId                                     0
visitNumber                                 0
visitStartTime                              0
continent                                   0
subContinent                                0
country                                     0
region                                      0
metro                                       0
city                                        0
cityId                                      0
networkDomain                               0
latitude                                    0
longitude                                   0
networkLocation                             0
browser                                     0
browserVersion                              0
browserSize                                 0
operatingSystem                             0
operatingSystemVersion                      0
isMobile                                    0
mobileDeviceBranding                        0
mobileDeviceModel                           0
mobileInputSelector                         0
mobileDeviceInfo                            0
mobileDeviceMarketingName                   0
flashVersion                                0
language                                    0
screenColors                                0
screenResolution                            0
deviceCategory                              0
visits                                      0
hits                                        0
pageviews                                 100
bounces                                453023
newVisits                              200593
transactionRevenue                     892138
campaign                                    0
source                                      0
medium                                      0
keyword                                502929
adwordsClickInfo.criteriaParameters         0
isTrueDirect                           629648
referralPath                           572712
adwordsClickInfo.page                  882193
adwordsClickInfo.slot                  882193
adwordsClickInfo.gclId                 882092
adwordsClickInfo.adNetworkType         882193
adwordsClickInfo.isVideoAd             882193
adContent                              892707
campaignCode                           903652
dtype: int64

#### Preparing the dataset for the classification model

In [68]:
# Creating a new column 'Conversion' which will be used as the target variable in the classification model. 1 indicates that the customer made a purchase and 0 indicates that the customer did not make a purchase. 
df['Conversion'] = df['transactionRevenue'].notnull().astype(int)
df.sample(5)

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,continent,subContinent,...,isTrueDirect,referralPath,adwordsClickInfo.page,adwordsClickInfo.slot,adwordsClickInfo.gclId,adwordsClickInfo.adNetworkType,adwordsClickInfo.isVideoAd,adContent,campaignCode,Conversion
422992,Social,2016-09-14,107362368603452597,107362368603452597_1473896518,Not Socially Engaged,1473896518,1,1473896518,Americas,South America,...,NaN,/yt/about/pt-BR/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
796855,Direct,2017-04-08,1323425218211112021,1323425218211112021_1491649099,Not Socially Engaged,1491649099,1,1491649099,Asia,Southern Asia,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
595961,Social,2017-07-20,9182856632120040963,9182856632120040963_1500560763,Not Socially Engaged,1500560763,1,1500560763,Americas,Northern America,...,NaN,/yt/about/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
26678,Social,2016-11-12,6810907609693449965,6810907609693449965_1478982591,Not Socially Engaged,1478982591,1,1478982591,Americas,Central America,...,NaN,/yt/about/es-419/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
278402,Social,2016-12-01,7591425255100489358,7591425255100489358_1480647955,Not Socially Engaged,1480647955,1,1480647955,Asia,Southern Asia,...,NaN,/yt/about/fil/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [69]:
# Checking the class distribution of the target variable
df['Conversion'].value_counts(normalize=True)

Conversion
0    0.987257
1    0.012743
Name: proportion, dtype: float64

In [70]:
# Dropping the transactionRevenue column as it is not needed for the classification model
df.drop(['transactionRevenue'], axis=1, inplace=True)

In [71]:
df.columns.to_list()

['channelGrouping',
 'date',
 'fullVisitorId',
 'sessionId',
 'socialEngagementType',
 'visitId',
 'visitNumber',
 'visitStartTime',
 'continent',
 'subContinent',
 'country',
 'region',
 'metro',
 'city',
 'cityId',
 'networkDomain',
 'latitude',
 'longitude',
 'networkLocation',
 'browser',
 'browserVersion',
 'browserSize',
 'operatingSystem',
 'operatingSystemVersion',
 'isMobile',
 'mobileDeviceBranding',
 'mobileDeviceModel',
 'mobileInputSelector',
 'mobileDeviceInfo',
 'mobileDeviceMarketingName',
 'flashVersion',
 'language',
 'screenColors',
 'screenResolution',
 'deviceCategory',
 'visits',
 'hits',
 'pageviews',
 'bounces',
 'newVisits',
 'campaign',
 'source',
 'medium',
 'keyword',
 'adwordsClickInfo.criteriaParameters',
 'isTrueDirect',
 'referralPath',
 'adwordsClickInfo.page',
 'adwordsClickInfo.slot',
 'adwordsClickInfo.gclId',
 'adwordsClickInfo.adNetworkType',
 'adwordsClickInfo.isVideoAd',
 'adContent',
 'campaignCode',
 'Conversion']

In [72]:
# Checking the number of unique values in each column
df.nunique()

channelGrouping                             8
date                                      366
fullVisitorId                          723803
sessionId                              902755
socialEngagementType                        1
visitId                                886303
visitNumber                               384
visitStartTime                         887159
continent                                   6
subContinent                               23
country                                   222
region                                    376
metro                                      94
city                                      649
cityId                                      1
networkDomain                           28064
latitude                                    1
longitude                                   1
networkLocation                             1
browser                                    54
browserVersion                              1
browserSize                                 1
operatingSystem                            20
operatingSystemVersion                      1
isMobile                                    2
mobileDeviceBranding                        1
mobileDeviceModel                           1
mobileInputSelector                         1
mobileDeviceInfo                            1
mobileDeviceMarketingName                   1
flashVersion                                1
language                                    1
screenColors                                1
screenResolution                            1
deviceCategory                              3
visits                                      1
hits                                      274
pageviews                                 213
bounces                                     1
newVisits                                   1
campaign                                   10
source                                    380
medium                                      7
keyword                                  3659
adwordsClickInfo.criteriaParameters         1
isTrueDirect                                1
referralPath                             1475
adwordsClickInfo.page                       8
adwordsClickInfo.slot                       2
adwordsClickInfo.gclId                  17774
adwordsClickInfo.adNetworkType              2
adwordsClickInfo.isVideoAd                  1
adContent                                  44
campaignCode                                1
Conversion                                  2
dtype: int64

In [73]:
# Checking the unique values in the 'bounces' column
df['bounces'].value_counts()

bounces
1.0    450630
Name: count, dtype: int64

In [74]:
# Replacing the null values in the 'bounces' column with 0
df['bounces'].fillna(0, inplace=True)
# Checking the unique values in the 'bounces' column after replacing the null values
df['bounces'].value_counts()

bounces
0.0    453023
1.0    450630
Name: count, dtype: int64

In [75]:
# Finding the columns with constant values
constant_columns = [col for col in df.columns if df[col].nunique() == 1]     
constant_columns

['socialEngagementType',
 'cityId',
 'latitude',
 'longitude',
 'networkLocation',
 'browserVersion',
 'browserSize',
 'operatingSystemVersion',
 'mobileDeviceBranding',
 'mobileDeviceModel',
 'mobileInputSelector',
 'mobileDeviceInfo',
 'mobileDeviceMarketingName',
 'flashVersion',
 'language',
 'screenColors',
 'screenResolution',
 'visits',
 'newVisits',
 'adwordsClickInfo.criteriaParameters',
 'isTrueDirect',
 'adwordsClickInfo.isVideoAd',
 'campaignCode']

### Dealing with Useless Variables

Upon inspecting the dataset to determine the useful columns for the use-case and identifying which columns will be dropped, the following observations were made:

- The following columns are IDs and are not useful for our analysis, and hence, should be dropped:
  - `fullVisitorId`
  - `sessionId`
  - `visitId`
  - `cityId`

- The following columns are constant across all observations; therefore, all except `bounces` should be dropped. The `bounces` column contains null values and 1s, indicating that the observations with null values represent users who take actions before exiting:
  - `socialEngagementType`
  - `latitude`
  - `longitude`
  - `networkLocation`
  - `browserVersion`
  - `browserSize`
  - `operatingSystemVersion`
  - `mobileDeviceBranding`
  - `mobileDeviceModel`
  - `mobileInputSelector`
  - `mobileDeviceInfo`
  - `mobileDeviceMarketingName`
  - `flashVersion`
  - `language`
  - `screenColors`
  - `screenResolution`
  - `visits`
  - `newVisits`
  - `adwordsClickInfo.criteriaParameters`
  - `isTrueDirect`
  - `adwordsClickInfo.isVideoAd`
  - `campaignCode`
- The `networkDomain` column has too many unique values; therefore, it should be dropped

In [76]:
# dropping the id columns 
df.drop(['fullVisitorId', 'sessionId','cityId','visitId'], axis=1, inplace=True)
# dropping columns with many unique values
df.drop(['networkDomain','visitStartTime','visitNumber'], axis=1, inplace=True)

In [77]:
# Checking the new dimensions of the dataset
df.shape

(903653, 48)

In [78]:
# dropping the columns with constant values
constant_columns.remove('cityId') # removing the cityId column because I have already dropped it
df.drop(constant_columns, axis=1, inplace=True)

In [79]:
# checking the shape of the dataset after dropping the columns with constant values 
df.shape

(903653, 26)

In [80]:
# Calculaing the proportion of missing values in each column
missing_values = df.isnull().mean().sort_values(ascending=False)
missing_values

adContent                         0.987887
adwordsClickInfo.adNetworkType    0.976252
adwordsClickInfo.slot             0.976252
adwordsClickInfo.page             0.976252
adwordsClickInfo.gclId            0.976140
referralPath                      0.633774
keyword                           0.556551
pageviews                         0.000111
date                              0.000000
medium                            0.000000
source                            0.000000
campaign                          0.000000
bounces                           0.000000
channelGrouping                   0.000000
hits                              0.000000
deviceCategory                    0.000000
isMobile                          0.000000
operatingSystem                   0.000000
browser                           0.000000
city                              0.000000
metro                             0.000000
region                            0.000000
country                           0.000000
subContinent                      0.000000
continent                         0.000000
Conversion                        0.000000
dtype: float64

In [81]:
over_50=missing_values[missing_values>0.5]
over_50

adContent                         0.987887
adwordsClickInfo.adNetworkType    0.976252
adwordsClickInfo.slot             0.976252
adwordsClickInfo.page             0.976252
adwordsClickInfo.gclId            0.976140
referralPath                      0.633774
keyword                           0.556551
dtype: float64

In [82]:
over_50_cols=over_50.index.to_list()
over_50_cols

['adContent',
 'adwordsClickInfo.adNetworkType',
 'adwordsClickInfo.slot',
 'adwordsClickInfo.page',
 'adwordsClickInfo.gclId',
 'referralPath',
 'keyword']

### Handling Missing Values

The following columns have more than 70% missing values, indicating a significant lack of data. To maintain the integrity and effectiveness of our analysis, these columns will be dropped from the dataset:

- `adContent`
- `adwordsClickInfo.criteriaParameters`
- `adwordsClickInfo.isVideoAd`
- `adwordsClickInfo.adNetworkType`
- `adwordsClickInfo.slot`
- `adwordsClickInfo.page`
- `adwordsClickInfo.gclId`

Removing these columns to focus on more complete and informative features for our analysis.

Replacing the null values in the page views column because the instances with NA are the ones with zero page views

In [83]:
# Dropping the columns with more than 70% missing values
df.drop(over_50_cols, axis=1, inplace=True)

In [84]:
# checking the shape of the dataset after dropping the columns with more than 70% missing values
df.shape

(903653, 19)

In [85]:
# Checking the number of null values in the dataset
df.isnull().sum()

channelGrouping      0
date                 0
continent            0
subContinent         0
country              0
region               0
metro                0
city                 0
browser              0
operatingSystem      0
isMobile             0
deviceCategory       0
hits                 0
pageviews          100
bounces              0
campaign             0
source               0
medium               0
Conversion           0
dtype: int64

In [86]:
df.head()

,channelGrouping,date,continent,subContinent,country,region,metro,city,browser,operatingSystem,isMobile,deviceCategory,hits,pageviews,bounces,campaign,source,medium,Conversion
0,Organic Search,2016-09-02,Asia,Western Asia,Turkey,Izmir,(not set),Izmir,Chrome,Windows,False,desktop,1,1.0,1.0,(not set),google,organic,0
1,Organic Search,2016-09-02,Oceania,Australasia,Australia,not available in demo dataset,not available in demo dataset,not available in demo dataset,Firefox,Macintosh,False,desktop,1,1.0,1.0,(not set),google,organic,0
2,Organic Search,2016-09-02,Europe,Southern Europe,Spain,Community of Madrid,(not set),Madrid,Chrome,Windows,False,desktop,1,1.0,1.0,(not set),google,organic,0
3,Organic Search,2016-09-02,Asia,Southeast Asia,Indonesia,not available in demo dataset,not available in demo dataset,not available in demo dataset,UC Browser,Linux,False,desktop,1,1.0,1.0,(not set),google,organic,0
4,Organic Search,2016-09-02,Europe,Northern Europe,United Kingdom,not available in demo dataset,not available in demo dataset,not available in demo dataset,Chrome,Android,True,mobile,1,1.0,1.0,(not set),google,organic,0

In [87]:
df.pageviews.fillna(0, inplace=True)

In [88]:
df.isna().sum()

channelGrouping    0
date               0
continent          0
subContinent       0
country            0
region             0
metro              0
city               0
browser            0
operatingSystem    0
isMobile           0
deviceCategory     0
hits               0
pageviews          0
bounces            0
campaign           0
source             0
medium             0
Conversion         0
dtype: int64

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   channelGrouping  903653 non-null  object
 1   date             903653 non-null  datetime64[ns]
 2   continent        903653 non-null  object
 3   subContinent     903653 non-null  object
 4   country          903653 non-null  object
 5   region           903653 non-null  object
 6   metro            903653 non-null  object
 7   city             903653 non-null  object
 8   browser          903653 non-null  object
 9   operatingSystem  903653 non-null  object
 10  isMobile         903653 non-null  bool
 11  deviceCategory   903653 non-null  object
 12  hits             903653 non-null  int64
 13  pageviews        903653 non-null  float64
 14  bounces          903653 non-null  float64
 15  campaign         903653 non-null  object
 16  source           903653 non-null  object
 17  medium           903653 non-null  object
 18  Conversion       903653 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(13)
memory usage: 125.0+ MB

In [90]:
# Convert the isMobile column to from boolean to integer
df.isMobile=df.isMobile.astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   channelGrouping  903653 non-null  object
 1   date             903653 non-null  datetime64[ns]
 2   continent        903653 non-null  object
 3   subContinent     903653 non-null  object
 4   country          903653 non-null  object
 5   region           903653 non-null  object
 6   metro            903653 non-null  object
 7   city             903653 non-null  object
 8   browser          903653 non-null  object
 9   operatingSystem  903653 non-null  object
 10  isMobile         903653 non-null  int64
 11  deviceCategory   903653 non-null  object
 12  hits             903653 non-null  int64
 13  pageviews        903653 non-null  float64
 14  bounces          903653 non-null  float64
 15  campaign         903653 non-null  object
 16  source           903653 non-null  object
 17  medium           903653 non-null  object
 18  Conversion       903653 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(13)
memory usage: 131.0+ MB

### Handling the Date Column
- Split the date column into year, month, and day.
- Dropped the year as it is not useful for predictive modeling, since past years won't resurface unless we are conducting some temporal analysis.
- Bucketed the months into first, second, and third quarters.
- Bucketed the days into beginning, middle, and end of the month.
- Created a new feature to capture whther a visit was on a weekend or not

In [91]:
# splitting the date column into year, month and day
df['month']=df['date'].dt.month
df['day']=df['date'].dt.day

In [92]:
df.head()

,channelGrouping,date,continent,subContinent,country,region,metro,city,browser,operatingSystem,...,deviceCategory,hits,pageviews,bounces,campaign,source,medium,Conversion,month,day
0,Organic Search,2016-09-02,Asia,Western Asia,Turkey,Izmir,(not set),Izmir,Chrome,Windows,...,desktop,1,1.0,1.0,(not set),google,organic,0,9,2
1,Organic Search,2016-09-02,Oceania,Australasia,Australia,not available in demo dataset,not available in demo dataset,not available in demo dataset,Firefox,Macintosh,...,desktop,1,1.0,1.0,(not set),google,organic,0,9,2
2,Organic Search,2016-09-02,Europe,Southern Europe,Spain,Community of Madrid,(not set),Madrid,Chrome,Windows,...,desktop,1,1.0,1.0,(not set),google,organic,0,9,2
3,Organic Search,2016-09-02,Asia,Southeast Asia,Indonesia,not available in demo dataset,not available in demo dataset,not available in demo dataset,UC Browser,Linux,...,desktop,1,1.0,1.0,(not set),google,organic,0,9,2
4,Organic Search,2016-09-02,Europe,Northern Europe,United Kingdom,not available in demo dataset,not available in demo dataset,not available in demo dataset,Chrome,Android,...,mobile,1,1.0,1.0,(not set),google,organic,0,9,2

In [93]:
# bucketing month into quarters
def quarter(x):
    if x in [1,2,3]:
        return '1st_quarter'
    elif x in [4,5,6]:
        return '2nd_quarter'
    elif x in [7,8,9]:
        return '3rd_quarter'
    else:
        return '4th_quarter'
    
df['quarter']=df['month'].apply(quarter)
df.drop('month', axis=1, inplace=True)

In [94]:
# bucking the day column into beginning, middle and end of the month
def day(x):
    if x in range(1,11):
        return 'beginning'
    elif x in range(11,21):
        return 'middle'
    else:
        return 'end'

df['day_of_month']=df['day'].apply(day)
df.drop('day', axis=1, inplace=True)

In [104]:
# Creating a new column 'is_weekend' which will indicate whether the day is a weekday or a weekend
df['is_weekend'] = df['date'].dt.dayofweek.apply(lambda x: 1 if x >= 5 else 0)
df['is_weekend'].value_counts()

is_weekend
0    705647
1    198006
Name: count, dtype: int64

In [99]:
# dropping the date column  as it is no longer needed
df.drop(['date'], axis=1, inplace=True)

In [103]:
df.head()

,channelGrouping,continent,subContinent,country,region,metro,city,browser,operatingSystem,isMobile,...,hits,pageviews,bounces,campaign,source,medium,Conversion,quarter,day_of_month,is_weekend
0,Organic Search,Asia,Western Asia,Turkey,Izmir,(not set),Izmir,Chrome,Windows,0,...,1,1.0,1.0,(not set),google,organic,0,3rd_quarter,beginning,0
1,Organic Search,Oceania,Australasia,Australia,not available in demo dataset,not available in demo dataset,not available in demo dataset,Firefox,Macintosh,0,...,1,1.0,1.0,(not set),google,organic,0,3rd_quarter,beginning,0
2,Organic Search,Europe,Southern Europe,Spain,Community of Madrid,(not set),Madrid,Chrome,Windows,0,...,1,1.0,1.0,(not set),google,organic,0,3rd_quarter,beginning,0
3,Organic Search,Asia,Southeast Asia,Indonesia,not available in demo dataset,not available in demo dataset,not available in demo dataset,UC Browser,Linux,0,...,1,1.0,1.0,(not set),google,organic,0,3rd_quarter,beginning,0
4,Organic Search,Europe,Northern Europe,United Kingdom,not available in demo dataset,not available in demo dataset,not available in demo dataset,Chrome,Android,1,...,1,1.0,1.0,(not set),google,organic,0,3rd_quarter,beginning,0

In [105]:
# Chceking the new dimensions of the dataset
df.shape

(903653, 21)